.tweeterPageContainer {
  background-color: yellow;

  display:flex;
  justify-content: center;
}


.tweeterPageContent {
  display:flex;
  justify-content: center;
  flex-direction: column;

  background-color: pink;
  border-radius: 10px;
  margin: 20px;


}

